:root {
  /* colors */
  --colors-primary: 24, 144, 255;
  --colors-green: 122, 197, 0;
  --colors-mastercard-red: #eb001b;
  --colors-mastercard-yellow: #ff5f00;

  --colors-shade-default: #000;
  --colors-shade-100: #111;
  --colors-shade-200: #262626;
  --colors-shade-300: #343434;
  --colors-shade-400: #474747;
  --colors-shade-500: #565656;
  --colors-shade-600: #a1a3a5;
  --colors-shade-700: #909294;
  --colors-shade-800: #838484;
  --colors-shade-900: #78797a;

  /* utils */
  --radius-xs: 4px;
  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --radius-xxl: 32px;
  --radius-rounded: 100%;

  --shadow-sm: 0 0 0 / 6%;

  /* animations */
  --transition-curve: cubic-bezier(0.62, 0.05, 0.01, 0.99);
}
